* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
}

.navbar {
  box-shadow: 1px 1px 10px lightgrey;
  position: sticky;
  z-index: 100;
  top: 0px;
}

.navbar-nav {
  padding-left: 40px;
}

.navbar-brand img {
  width: 230px;
}

.option-bar {
  margin: 0px;
}
.option-bar li {
  list-style: none;
  padding: 0px 10px;
}

.book-btn {
  padding: 10px 20px;
  background-color: #ab2440;
  border: none;
}

.padd-15 {
  padding: 0px 15px;
}

.width200 {
  width: 200px;
}

.banner-main {
  position: relative;
}
.banner-main .carousel-section .backimg {
  width: 100%;
  height: 500px;
  background-color: #f6e9e6;
}
.banner-main .search-bar {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 8%;
  padding: 10px;
  border: 1px solid lightgray;
}
.banner-main .search-bar .book-btn {
  padding: 10px 20px;
  background-color: #ab2440;
  border: none;
  border-radius: 10px;
}
.banner-main .banner-text {
  top: 30%;
  left: 8%;
  position: absolute;
}
.banner-main .banner-text h1 {
  font-size: 60px;
}
.banner-main .banner-text span {
  color: #ab2440;
}

.tab-section {
  background-color: #fff;
  color: black;
}
.tab-section .nav-link:hover {
  background-color: none !important;
}
.tab-section button {
  color: black;
}
.tab-section .nav-pills img {
  width: 35px !important;
}

.carousle-dest .item {
  text-align: center;
  float: left;
  padding: 30px;
}
.carousle-dest .owl-carousel .owl-item img {
  width: 80px !important;
  background: #f4f4f4;
  border-radius: 50%;
}
.carousle-dest .owl-dots {
  display: none !important;
}
.carousle-dest .owl-carousel {
  position: relative;
}
.carousle-dest .owl-nav {
  display: none;
}

.head-dest {
  margin: 40px 0px;
}

.today-deal {
  padding: 50px 10px;
}
.today-deal .item {
  margin: 10px;
}
.today-deal .owl-dots {
  display: none !important;
}
.today-deal .info-part {
  padding: 20px;
  line-height: 1;
}
.today-deal .dest-text {
  font-size: 14px;
}
.today-deal .extra-text {
  font-size: 12px;
}

.list-property {
  padding: 100px 0px;
}
.list-property .text-part {
  background-color: #ebfcea;
  padding: 0px;
}
.list-property .img-part img {
  width: 100%;
}
.list-property .col-lg-5 {
  padding: 0px !important;
}
.list-property .col-lg-7 {
  padding: 0px !important;
}
.list-property .row {
  padding: 0px !important;
}

.list-property {
  padding: 100px 0px;
}
.list-property .text-part {
  background-color: #ebfcea;
  padding: 0px;
}
.list-property .img-part img {
  width: 100%;
}
.list-property .col-lg-5 {
  padding: 0px !important;
}
.list-property .col-lg-7 {
  padding: 0px !important;
}
.list-property .row {
  padding: 0px !important;
}

.list-property {
  padding: 100px 0px;
}
.list-property .text-part {
  background-color: #ebfcea;
  padding: 0px;
}
.list-property .img-part img {
  width: 100%;
}
.list-property .col-lg-5 {
  padding: 0px !important;
}
.list-property .col-lg-7 {
  padding: 0px !important;
}
.list-property .row {
  padding: 0px !important;
}

.service-secion {
  margin: 20px 0px;
  padding: 60px 0px;
  line-height: 2;
}
.service-secion img {
  width: 60px;
  padding: 20px 0px;
}
.service-secion h2 {
  font-size: 18px;
}
.service-secion p {
  font-size: 15px;
}

.our-story {
  padding: 30px 0px;
}

.indicators {
  padding: 20px 0px;
}
.indicators h2 {
  font-size: 40px;
  font-weight: 700;
}

.contact-link {
  background-image: url("img/backgrounds.png");
  background-size: cover;
  padding: 140px 0px;
  margin: 20px 0px;
  color: #fff;
  line-height: 3;
}

.instant-call {
  background: #ab2440;
  color: #fff;
  padding: 20px 120px;
}
.instant-call h2 {
  font-size: 26px;
}
.instant-call input {
  padding: 17px 20px;
  border-radius: 5px;
  border: none;
}
.instant-call button {
  padding: 17px 20px;
  border-radius: 5px;
  border: none;
  background-color: #f8d448;
}

.bottom {
  padding: 30px 0px;
}
.bottom h3 {
  font-size: 20px;
  font-weight: 500;
}
.bottom h4 {
  font-size: 16px;
  font-weight: 500;
}
.bottom ul {
  padding: 0px;
}
.bottom li {
  list-style: none;
  line-height: 2;
}
.bottom a {
  text-decoration: none;
  color: black;
}
.bottom .red {
  color: #ab2440;
}

.online-pay .padd-20 {
  padding: 40px 0px;
}
.online-pay .padd-20 h2 {
  font-weight: 600;
}
.online-pay .qr-img img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .navbar-nav {
    padding: 0px;
  }
  .navbar-brand img {
    width: 150px;
  }
  .navbar .book-btn {
    display: none !important;
  }
  .banner-main .backimg {
    display: none;
    position: static;
  }
  .banner-slider {
    position: relative !important;
  }
  .banner-text {
    display: none;
  }
  .search-bar {
    display: block !important;
    width: 90% !important;
    padding: 0px !important;
    top: 60% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: #fff2f5 !important;
    border-radius: 10px;
    box-shadow: 1px 1px 20px lightslategray;
  }
  .search-bar .width200 {
    width: 100% !important;
  }
  .search-bar .book-btn {
    width: 100% !important;
  }
  .search-bar label {
    font-weight: 500;
  }
  .search-bar input {
    border: none !important;
    font-weight: 400;
    border-radius: 0px !important;
    border-bottom: 2px solid #ab2440 !important;
  }
  .search-bar select {
    border: none !important;
    font-weight: 400;
    border-bottom: 2px solid #ab2440 !important;
    border-radius: 0px !important;
  }
  .padd-15 {
    padding: 10px 15px;
  }
  .list-property {
    text-align: center;
    padding: 25px 0px;
  }
  .list-property .text1 {
    padding: 30px;
    line-height: 3;
  }
  .contact-link {
    padding: 70px 0px;
  }
  .service-secion {
    padding: 0px;
  }
  .tab-section .nav {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .carousle-dest {
    margin-top: 70%;
  }
  .instant-call {
    padding: 17px;
  }
  .instant-call input {
    padding: 2px;
  }
  .instant-call button {
    padding: 2px;
  }
  .instant-call h2 {
    font-size: 12px;
    margin: 0px;
  }
  .fixed-bottom {
    background: #fff !important;
    box-shadow: 1px 1px 20px lightgray;
  }
  .fixed-bottom .col-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .fixed-bottom .col-3 p {
    margin: 0px;
  }
}/*# sourceMappingURL=style.css.map */