* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
}

.navbar {
  box-shadow: 1px 1px 10px lightgrey;
  position: sticky;
  z-index: 100;
  top: 0px;
}

.navbar-nav {
  padding-left: 40px;
}

.navbar-brand img {
  width: 230px;
}

.option-bar {
  margin: 0px;
}
.option-bar li {
  list-style: none;
  padding: 0px 10px;
}

.book-btn {
  padding: 10px 20px;
  background-color: #ab2440;
  border: none;
}

.padd-15 {
  padding: 0px 15px;
}

.width200 {
  width: 200px;
}

.banner-main {
  position: relative;
}
.banner-main .carousel-section .backimg {
  width: 100%;
  height: 500px;
  background-color: #f6e9e6;
}
.banner-main .search-bar {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 8%;
  padding: 10px;
  border: 1px solid lightgray;
}
.banner-main .search-bar .book-btn {
  padding: 10px 20px;
  background-color: #ab2440;
  border: none;
  border-radius: 10px;
}
.banner-main .banner-text {
  top: 30%;
  left: 8%;
  position: absolute;
}
.banner-main .banner-text h1 {
  font-size: 60px;
}
.banner-main .banner-text span {
  color: #ab2440;
}

.tab-section {
  background-color: #fff;
  color: black;
}
.tab-section .nav-link:hover {
  background-color: none !important;
}
.tab-section button {
  color: black;
}
.tab-section .nav-pills img {
  width: 35px !important;
}

.carousle-dest .item {
  text-align: center;
  float: left;
  padding: 20px;
}
.carousle-dest .item a {
  color: black;
}
.carousle-dest .owl-carousel .owl-item img {
  width: 80px !important;
  background: #f4f4f4;
  border-radius: 50%;
}
.carousle-dest .owl-dots {
  display: none !important;
}
.carousle-dest .owl-carousel {
  position: relative;
}
.carousle-dest .owl-nav {
  display: none;
}
.carousle-dest .owl-item {
  display: flex;
  justify-content: center;
}

.head-dest {
  margin: 40px 0px;
}

.today-deal {
  overflow: hidden;
}
.today-deal .item {
  margin: 10px;
}
.today-deal .owl-dots {
  display: none !important;
}
.today-deal .info-part {
  padding: 20px 20px 0px 20px;
  line-height: 1;
}
.today-deal .info-part h4 {
  font-size: 18px;
}
.today-deal .dest-text {
  font-size: 14px;
}
.today-deal .extra-text {
  font-size: 12px;
}

.info-part {
  padding: 20px 20px 0px 20px;
  line-height: 1;
}

.list-property {
  padding: 100px 0px;
}
.list-property .text-part {
  background-color: #ebfcea;
  padding: 0px;
}
.list-property .img-part img {
  width: 100%;
}
.list-property .col-lg-5 {
  padding: 0px !important;
}
.list-property .col-lg-7 {
  padding: 0px !important;
}
.list-property .row {
  padding: 0px !important;
}

.list-property {
  padding: 100px 0px;
}
.list-property .text-part {
  background-color: #ebfcea;
  padding: 0px;
}
.list-property .img-part img {
  width: 100%;
}
.list-property .col-lg-5 {
  padding: 0px !important;
}
.list-property .col-lg-7 {
  padding: 0px !important;
}
.list-property .row {
  padding: 0px !important;
}

.list-property {
  padding: 100px 0px;
}
.list-property .text-part {
  background-color: #ebfcea;
  padding: 0px;
}
.list-property .img-part img {
  width: 100%;
}
.list-property .col-lg-5 {
  padding: 0px !important;
}
.list-property .col-lg-7 {
  padding: 0px !important;
}
.list-property .row {
  padding: 0px !important;
}

.service-secion {
  margin: 20px 0px;
  padding: 60px 0px;
  line-height: 2;
}
.service-secion img {
  width: 60px;
  padding: 20px 0px;
}
.service-secion h2 {
  font-size: 18px;
}
.service-secion p {
  font-size: 15px;
}

.our-story {
  padding: 30px 0px;
}

.indicators {
  padding: 20px 0px;
}
.indicators h2 {
  font-size: 40px;
  font-weight: 700;
}

.contact-link {
  background-image: url("img/backgrounds.png");
  background-size: cover;
  padding: 140px 0px;
  margin: 20px 0px;
  color: #fff;
  line-height: 3;
}

.instant-call {
  background: #ab2440;
  color: #fff;
  padding: 20px 120px;
}
.instant-call h2 {
  font-size: 26px;
}
.instant-call input {
  padding: 17px 20px;
  border-radius: 5px;
  border: none;
}
.instant-call button {
  padding: 17px 20px;
  border-radius: 5px;
  border: none;
  background-color: #f8d448;
}

.amenities .back {
  font-size: 13px;
}

.bottom {
  padding: 30px 0px;
  color: #c3c3c3;
  background: #333;
}
.bottom h3 {
  font-size: 20px;
  font-weight: 500;
}
.bottom h4 {
  font-size: 16px;
  font-weight: 500;
}
.bottom ul {
  padding: 0px;
}
.bottom li {
  list-style: none;
  line-height: 2;
}
.bottom a {
  text-decoration: none;
  color: #fff;
}
.bottom .red {
  color: #ab2440;
}

.online-pay .padd-20 {
  padding: 40px 0px;
}
.online-pay .padd-20 h2 {
  font-weight: 600;
}
.online-pay .qr-img img {
  width: 100%;
}

.fixed-bottom {
  background: #fff !important;
}
.fixed-bottom a {
  color: grey;
  text-decoration: none;
}
.fixed-bottom .col-3 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.fixed-bottom .col-3 p {
  margin: 0px;
}

.head-line {
  background-color: #ab2440;
}
.head-line .heading-text {
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
  font-size: 30px;
}

.nav-pills .active {
  background-color: white !important;
  color: #000 !important;
  border-radius: 0px !important;
  border-bottom: 3px solid #ab2440 !important;
}

.property-list-form {
  max-width: 500px;
  border: 1px solid lightgray;
  background: #fff;
  margin: 100px 0px;
  border-radius: 5px;
}
.property-list-form h2 {
  font-weight: 500;
}
.property-list-form p {
  line-height: 2;
}
.property-list-form button {
  background-color: #ab2440 !important;
  border: none;
  padding: 20px !important;
}

.property-list-main {
  background: #e5f0fd;
}

.success-page .message-part {
  line-height: 2;
}
.success-page .message-part .mark-logo {
  background-color: none !important;
}
.success-page .message-part .mark-logo i {
  color: #ab2440;
  font-size: 70px;
}
.success-page .message-part h2 {
  font-weight: 700;
}
.success-page .message-part p {
  color: #697488;
}
.success-page .order-detail {
  border: 1px dashed #ab2440;
  border-radius: 5px;
}
.success-page .order-info {
  border: 1px solid lightgray;
  border-radius: 5px;
}
.success-page .font-color-maroon {
  color: #ab2440;
  font-weight: 600;
}

.info-part .back {
  background: #f5f8ff;
  border-radius: 5px;
}
.info-part .star P {
  font-size: 12px;
  margin: 0px;
}
.info-part .overview {
  line-height: 2;
}
.info-part .readmore {
  text-decoration: underline !important;
  cursor: pointer !important;
}
.info-part .meal-plan {
  border: 1px dashed red;
  background: #f6f6f6;
}
.info-part .tab-content .tab-pane {
  line-height: 2;
}
.info-part .tab-content .faq-btn {
  width: 50px;
  border-radius: 50%;
}
.info-part .tab-content .ans-detail {
  display: none;
}

.review-section .review-box h2 {
  background: #ab2440;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 22px;
}
.review-section .review-text p {
  margin: 0px;
}

.review-textpart .review-name {
  background: #051036;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
}
.review-textpart .review-nameright p {
  margin: 0px;
}

.progress {
  height: 6px !important;
}
.progress .progress-bar {
  background-color: #ab2440 !important;
}

.listing-top-part {
  background: #f5f5f5;
}
.listing-top-part .searchbar input {
  height: 60px;
}

.filter-option {
  color: #ab2440;
}

a {
  text-decoration: none;
}

.mybooking p {
  margin: 0px;
}
.mybooking .head-text {
  font-weight: 300;
  color: gray;
}
.mybooking .book-ticket {
  padding: 10px;
  border: 1px solid #ab2440;
  border-radius: 10px;
  background-color: #fff2f5 !important;
}

@media only screen and (max-width: 600px) {
  .navbar-nav {
    padding: 0px;
  }
  .navbar-brand img {
    width: 150px;
  }
  .navbar .book-btn {
    display: none !important;
  }
  .banner-main .backimg {
    display: none;
    position: static;
  }
  .banner-slider {
    position: relative !important;
  }
  .banner-text {
    display: none;
  }
  .search-bar {
    display: block !important;
    width: 90% !important;
    padding: 0px !important;
    top: 60% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: #fff2f5 !important;
    border-radius: 10px;
    box-shadow: 1px 1px 20px lightslategray;
  }
  .search-bar .width200 {
    width: 100% !important;
  }
  .search-bar .book-btn {
    width: 100% !important;
  }
  .search-bar label {
    font-weight: 500;
  }
  .search-bar input {
    border: none !important;
    font-weight: 400;
    border-radius: 0px !important;
    border-bottom: 2px solid #ab2440 !important;
  }
  .search-bar select {
    border: none !important;
    font-weight: 400;
    border-bottom: 2px solid #ab2440 !important;
    border-radius: 0px !important;
  }
  .padd-15 {
    padding: 10px 15px;
  }
  .list-property {
    text-align: center;
    padding: 25px 0px;
  }
  .list-property .text1 {
    padding: 30px;
    line-height: 3;
  }
  .contact-link {
    padding: 70px 0px;
  }
  .service-secion {
    padding: 0px;
  }
  .tab-section .nav {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .carousle-dest {
    margin-top: 80%;
  }
  .instant-call {
    padding: 17px;
  }
  .instant-call input {
    padding: 2px;
  }
  .instant-call button {
    padding: 2px;
  }
  .instant-call h2 {
    font-size: 12px;
    margin: 0px;
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: 40%;
    left: 3%;
  }
  .owl-nav .owl-prev span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    width: 50px;
    height: 50px;
    background: rgba(1, 1, 1, 0.5);
  }
  .owl-nav .owl-next {
    position: absolute;
    top: 40%;
    right: 3%;
  }
  .owl-nav .owl-next span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    width: 50px;
    height: 50px;
    background: rgba(1, 1, 1, 0.5);
  }
  .fixed-bottom {
    background: #fff !important;
    box-shadow: 1px 1px 20px lightgray;
  }
  .fixed-bottom a {
    color: grey;
    text-decoration: none;
  }
  .fixed-bottom .col-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .fixed-bottom .col-3 p {
    margin: 0px;
  }
}/*# sourceMappingURL=style.css.map */