* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: 'Jost', sans-serif;
}
.navbar {
  box-shadow: 1px 1px 10px lightgrey;
  position: sticky;
  z-index: 100;
  top: 0px;
}
.navbar-nav {
  padding-left: 40px;
}

.navbar-brand img {
  width: 230px;
}
.option-bar {
  margin: 0px;
  li {
    list-style: none;
    padding: 0px 10px;
  }
}
.book-btn {
  padding: 10px 20px;
  background-color: #ab2440;
  border: none;
}

.padd-15 {
  padding: 0px 15px;
}
.width200 {
  width: 200px;
}

.banner-main {
  position: relative;
  .carousel-section {
    .backimg {
      width: 100%;
      height: 500px;
      background-color: #f6e9e6;
      // object-fit: cover;
    }
  }

  .search-bar {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 8%;
    padding: 10px;
    border: 1px solid lightgray;
    .book-btn {
      padding: 10px 20px;
      background-color: #ab2440;
      border: none;
      border-radius: 10px;
    }
  }
  .banner-text {
    top: 30%;
    left: 8%;
    position: absolute;

    h1 {
      font-size: 60px;
    }
    span {
      color: #ab2440;
    }
  }
}
.tab-section {
  background-color: #fff;
  color: black;
  .nav-link:hover {
    background-color: none !important;
  }

  button {
    color: black;
  }
.nav-pills{
  img {
    width: 35px !important;
  }
}

}
.carousle-dest {
  .item {
    text-align: center;
    float: left;
    padding: 30px;
  }

  .owl-carousel .owl-item img {
    width: 80px !important;
    background: #f4f4f4;
    border-radius: 50%;
  }
  // .owl-item{
  //   width: auto!important;
  // }
  .owl-dots {
    display: none !important;
  }
  .owl-carousel {
    position: relative;
  }
  .owl-nav {
   display: none;
   
  }
}

.head-dest {
  margin: 40px 0px;
}

.today-deal {
  padding: 50px 10px;
  .item {
    margin: 10px;
  }
  .owl-dots {
    display: none !important;
  }
  .info-part {
    padding: 20px;
    line-height: 1;
  }
  .dest-text {
    font-size: 14px;
  }
  .extra-text {
    font-size: 12px;
  }
}

.list-property {
  padding: 100px 0px;
  .text-part {
    background-color: #ebfcea;
    padding: 0px;
  }
  .img-part img {
    width: 100%;
  }
  .col-lg-5 {
    padding: 0px !important;
  }
  .col-lg-7 {
    padding: 0px !important;
  }
  .row {
    padding: 0px !important;
  }
}
.list-property {
  padding: 100px 0px;
  .text-part {
    background-color: #ebfcea;
    padding: 0px;
  }
  .img-part img {
    width: 100%;
  }
  .col-lg-5 {
    padding: 0px !important;
  }
  .col-lg-7 {
    padding: 0px !important;
  }
  .row {
    padding: 0px !important;
  }
}
.list-property {
  padding: 100px 0px;
  .text-part {
    background-color: #ebfcea;
    padding: 0px;
  }
  .img-part img {
    width: 100%;
  }
  .col-lg-5 {
    padding: 0px !important;
  }
  .col-lg-7 {
    padding: 0px !important;
  }
  .row {
    padding: 0px !important;
  }
}

.service-secion {
  margin: 20px 0px;
  padding: 60px 0px;
  line-height: 2;
  img {
    width: 60px;
    padding: 20px 0px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
}
.our-story {
  padding: 30px 0px;
}

.indicators {
  padding: 20px 0px;
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
.contact-link {
  background-image: url('img/backgrounds.png');
  background-size: cover;
  padding: 140px 0px;
  margin: 20px 0px;
  color: #fff;
  line-height: 3;
}

.instant-call {
  background: #ab2440;
  color: #fff;
  padding: 20px 120px;
  h2 {
    font-size: 26px;
  }
  input {
    padding: 17px 20px;
    border-radius: 5px;
    border: none;
  }
  button {
    padding: 17px 20px;
    border-radius: 5px;
    border: none;
    background-color: #f8d448;
  }
}
.bottom {
  padding: 30px 0px;
  color: #c3c3c3;
  background: #333;
  h3 {
    font-size: 20px;
    font-weight: 500;
  }
  h4 {
    font-size: 16px;
    font-weight: 500;
  }
  ul {
    padding: 0px;
  }
  li {
    list-style: none;
    line-height: 2;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  .red {
    color: #ab2440;
  }
}

// Online Payment 
.online-pay{
.padd-20{
  padding: 40px 0px;
  h2{
    font-weight: 600;
  }
}

.qr-img img{
width: 100%;
  }
}

.fixed-bottom{
  background: #fff !important;
  box-shadow: 1px 1px 20px lightgray;
  
 a{
  color: grey;
  text-decoration: none;
 }
  .col-3{
    padding-left: 0px !important;
    padding-right: 0px !important;
    p{
      margin: 0px;
    }
  }
}

.head-line{
  background-color: #ab2440;
   .heading-text{
     font-weight: 600;
     color: #fff;
     line-height: 1.5;
     font-size: 30px;
   }
 } 
.nav-pills{
  .active{
    background-color: lightgray !important;
   } 
}

@media only screen and (max-width: 600px) {
  .navbar-nav {
    padding: 0px;
  }
  .navbar-brand img {
    width: 150px;
  }

  .navbar {
    .book-btn {
      display: none !important;
    }
  }
  .banner-main {
    .backimg {
      display: none;
      position: static;
    }
  }
  .banner-slider {
    position: relative !important;
  }
  .banner-text {
    display: none;  
  }
  .search-bar {
    display: block !important;
    width: 90% !important;
    padding: 0px !important;
    top: 60% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: #fff2f5 !important;
    border-radius: 10px;
    box-shadow: 1px 1px 20px lightslategray;
    .width200 {
      width: 100% !important;
    }
    .book-btn {
      width: 100% !important;
    }
    label{
      font-weight: 500;
    }
    input {
      border: none !important;
      font-weight: 400;
      border-radius: 0px !important;
      border-bottom: 2px solid #ab2440 !important;
    }
    select {
      border: none !important;
      font-weight: 400;
      border-bottom: 2px solid #ab2440 !important;
      border-radius: 0px !important;
    }
  }
  .padd-15 {
    padding: 10px 15px;
  }
  .list-property {
    text-align: center;
    padding: 25px 0px ;
    .text1 {
      padding: 30px;
      line-height: 3;
    }
  }
  .contact-link{
    padding: 70px 0px;
  }
  .service-secion{
    padding: 0px;
  }
 .tab-section{
 .nav{
  flex-wrap: nowrap;
  overflow-x: scroll;
 }
 }
  .carousle-dest {
    margin-top: 70%;
  }

  .instant-call {
    padding: 17px;
    input{
      padding: 2px;
    }
    button{
      padding: 2px;
    }
    h2{
      font-size: 12px;
      margin: 0px;
    }
  }

.owl-nav{
  .owl-prev{
    position: absolute;
    top:40%;
    left:3%;

    span{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      color:white;
      width: 50px;
      height: 50px;
      background: rgba(0.5,0.5,0.5,0.5);
    }
     
 
   }
   .owl-next{
    position: absolute;
    top:40%;
    right:3%;

    span{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      color:white;
      width: 50px;
      height: 50px;
      background: rgba(0.5,0.5,0.5,0.5);
    }
   }
}

     
 
  .fixed-bottom{
    background: #fff !important;
    box-shadow: 1px 1px 20px lightgray;
    
   a{
    color: grey;
    text-decoration: none;
   }
    .col-3{
      padding-left: 0px !important;
      padding-right: 0px !important;
      p{
        margin: 0px;
      }
    }
  }
}
